:root{
    --white:#f7ebe2;
    --black:#000000;
    --brown:#341d08;
  }
header{
    padding: 20px;
    background: var(--brown);
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header a {
    color: var(--white);
    text-decoration: none;
    margin-left: 80px;
}

header nav{
    margin-right: 80px;
    display: flex;
    width: 25%;
    justify-content: space-around;
}
header nav a{
    padding: 10px;
}
.hamburguer{
    display: none;
}

@media (max-width: 764px) {
    .hamburguer{
        display: block;
        padding: 10px;
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        right: 2.6rem;
    }
    header{
        flex-direction: column;
    }
    header a{
        margin: 0;
    }
    header nav {
      flex-direction: column; 
      align-items: center; 
      margin-right: 0; 
      padding-top: 30px;
      width: 100%;
    }
  }